Nav a {
  text-decoration: none;
  margin: 8px;
  color: black;
  position: relative;
}
Nav a::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #ea0e4b;
  left: 50%;
  bottom: 0;
  transition: all 250ms ease-in-out;
}
Nav a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 0.175rem;
  background: #ea0e4b;
  left: 50%;
  bottom: 0;
}
Nav a:hover::before,
Nav a:hover::after {
  width: 100%;
  left: 0;
}
